@using PagedList;
@using PagedList.Mvc;
@using System.Data
@model System.Data.DataTable
@*@model CloudTrixApp.Models.UserType*@


@{
    ViewBag.Title = "Create Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-sm-4">
            <div class="form-group">
                @*<label for="CompanyID">Company</label>*@
                @*@Html.DropDownList("CompanyID", null, new { @class = "form-control  ", @placeholder = "Company Name ", autocomplete = "off" })*@
                @*@Html.ValidationMessageFor(model => model.)*@
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                Form ID
            </th>
            <th>
                Form Name
            </th>
            <th>
                Add
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
            <th>
                View
            </th>
        </tr>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["FormID"]</td>
                <td>@row["FormName"]</td>
                <td>@Html.CheckBox("Add", true)</td>
                <td>@Html.CheckBox("Update", true)</td>
                <td>@Html.CheckBox("Delete", true)</td>
                <td>@Html.CheckBox("View", true)</td>
            </tr>
        }
    </table>
    <table class="table">
        <tr>
            @*<td align="center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewData["CurrentSort"], SearchText = ViewData["SearchText"] }))
                </td>*@
        </tr>
    </table>
</div>
