@model CloudTrixApp.Models.TaskAttachment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Task Management</a></li>
            <li class="active">Edit Task Management</li>
        </ol>
    </section>
    <div class="wraper container-fluid ">
        <div class="row">
            <div class="col col-md-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Task Management </h3>
                    </div>
                    <div class="panel-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                            
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.TaskID)

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TaskAttachmentID, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.TaskAttachmentID, new { disabled = "disabled" })
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            @Html.LabelFor(model => model.AttachmentName, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.AttachmentName)
                                                @Html.ValidationMessageFor(model => model.AttachmentName)
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            @Html.LabelFor(model => model.Decription, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Decription)
                                                @Html.ValidationMessageFor(model => model.Decription)
                                            </div>
                                        </div>

                                        <div class="container-fluid">
                                            @Html.LabelFor(model => model.FilePath, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.FilePath)
                                                @Html.ValidationMessageFor(model => model.FilePath)
                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <div><hr size=2><br /></div>
                                            <div class="col-sm-4 col-lg-offset-4">
                                                <div class="form-group">
                                                    <input type="submit" value="Save" class="btn btn-success" />
                                                    &nbsp;&nbsp;
                                                    @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-primary" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }

                                </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

