@model CloudTrixApp.Models.RoleManagement

@{
    ViewBag.Title = "Delete";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Company</a></li>
            <li class="active">Create Role Management</li>
        </ol>
    </section>
    <div class="wraper container-fluid ">
        <div class="row">
            <div class="col col-md-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Delete Role Management </h3>
                    </div>
                    <div class="panel-body">
                        <br />
                        <p class="callout callout-danger">&nbsp;&nbsp; Do you want to delete this Role Management?</p>
                        <hr />
                        @Html.HiddenFor(model => model.RoleID)
                        <div class="container-fluid">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Address1"> User Type : </label>
                                    @Html.TextBoxFor(model => model.UserTypeName, null, new { @class = "form-control ", @disabled = "on" })
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="Address1"> Description : </label>
                                    @Html.TextBoxFor(model => model.Description, null, new { @class = "form-control ", @disabled = "on" })
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="col-sm-11">
                                <div class="form-group">
                                    <table id="detailsTable" class="table">
                                        <thead>
                                            <tr class="bg-danger">
                                                <th style="display:none;">RoleManagementDetailsID</th>
                                                <th style="display:none;"> Form ID </th>
                                                <th>Form Name</th>
                                                <th> Add</th>
                                                <th> Update</th>
                                                <th> Delete</th>
                                                <th> View </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var Items in ViewBag.RoleManagementDetailsList)
                                            {
                                                <tr>
                                                    <td style="display:none;">@Items.RoleManagementDetailsID</td>
                                                    <td style="display:none;">@Items.FormID</td>
                                                    <td>@Items.FormName</td>
                                                    <td>
                                                        @if (Items.AddPermission == true)
                                                        {
                                                            <input type="checkbox" value="@Items.AddPermission" id="AddPermission" name="AddPermission" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="@Items.AddPermission" id="AddPermission" name="AddPermission" />
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Items.UpdatePermission == true)
                                                        {
                                                            <input type="checkbox" value="@Items.UpdatePermission" id="UpdatePermission" name="UpdatePermission" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="@Items.UpdatePermission" id="UpdatePermission" name="UpdatePermission" />
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Items.DeletePermission == true)
                                                        {
                                                            <input type="checkbox" value="@Items.DeletePermission" id="DeletePermission" name="DeletePermission" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="@Items.DeletePermission" id="DeletePermission" name="DeletePermission" />
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Items.ViewPermission == true)
                                                        {
                                                            <input type="checkbox" value="@Items.ViewPermission" id="ViewPermission" name="ViewPermission" checked />
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" value="@Items.ViewPermission" id="ViewPermission" name="ViewPermission" />
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div><hr size=2><br /></div>
                            <div class="col-sm-4 col-lg-offset-4">
                                <div class="form-group">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-default" /> |
                                            @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-primary" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

